## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# I want to look at this before dropping columns.
# Determine the number of unique values in each column.
application_df.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
# Only dropping 'EIN' for optimization.
application_df = application_df.drop(columns=['EIN'])
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [5]:
# Adding this cell
# Look at NAME value counts to identify and replace with "Other"
name_counts = application_df.value_counts('NAME')
name_counts

NAME
PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
FUSION ARTS UNLIMITED INC                             1
FURRST AND FURRMOST POOCH SANCTUARY INC               1
FURNISHING HOPE AZ INC                                1
FUNNY RIVER EMERGENCY SERVICES                        1
ZURICH PUBLISHING FOUNDATION INC                      1
Name: count, Length: 19568, dtype: int64

In [6]:
# Adding this cell
# You may find it helpful to look at NAME value counts >1
name_gt_one = name_counts[name_counts > 1]
name_gt_one

NAME
PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
REACT INTERNATIONAL                                   2
KAPPA BETA GAMMA INTERNATIONAL INC                    2
ORDER OF THE AMARANTH INC SUPREME COUNCIL             2
BROTHERHOOD OF RAILROAD SIGNALMEN                     2
LOUISIANA GARDEN CLUB FEDERATION INC                  2
Name: count, Length: 792, dtype: int64

In [7]:
# Adding this cell
# Choose a cutoff value and create a list of names to be replaced
# use the variable name `names_to_replace`
first_cutoff_value = 40
names_to_replace = name_counts[name_counts < first_cutoff_value].index.tolist()

# Replace in dataframe
for n in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(n,"Other")

# Check to make sure replacement was successful
application_df['NAME'].value_counts()

NAME
Other                                                                    23982
PARENT BOOSTER USA INC                                                    1260
TOPS CLUB INC                                                              765
UNITED STATES BOWLING CONGRESS INC                                         700
WASHINGTON STATE UNIVERSITY                                                492
                                                                         ...
POP WARNER LITTLE SCHOLARS INC                                              42
UNITED MINE WORKERS OF AMERICA INTERNATIONAL                                41
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUX DEPT OF COLORADO          41
VETERANS OF FOREIGN WARS OF THE U S AUXILIARY DEPARTMENT OF LOUISIANA       41
MODERN QUILT GUILD INC                                                      40
Name: count, Length: 65, dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df.value_counts('APPLICATION_TYPE')
application_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
second_cutoff_value = 500
application_types_to_replace = application_type_counts[application_type_counts < second_cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df.value_counts('CLASSIFICATION')
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2190        1
C2380        1
C2500        1
C2561        1
C8210        1
Name: count, Length: 71, dtype: int64

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_gt_one = classification_counts[classification_counts > 1]
classifications_gt_one

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1235        9
C1237        9
C7210        7
C1720        6
C4100        6
C2400        6
C1600        5
C1257        5
C2710        3
C1260        3
C0           3
C1267        2
C1246        2
C1256        2
C3200        2
C1234        2
Name: count, dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
third_cutoff_value = 1000
classifications_to_replace = classification_counts[classification_counts < third_cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_application_df = pd.get_dummies(application_df)
dummies_application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [14]:
# Split our preprocessed data into our features and target arrays
y = dummies_application_df['IS_SUCCESSFUL']
X = dummies_application_df.drop(columns=['IS_SUCCESSFUL'])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]

nn = tf.keras.models.Sequential()

# Adding a 3rd hidden layer and increasing number of units for optimization.

# First hidden layer
nn.add(tf.keras.layers.Dense(units=160, activation='relu', input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation='relu'))

# 3rd hidden layer
nn.add(tf.keras.layers.Dense(units=40, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

C:\Users\Cesar\anaconda3\envs\dev\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense (Dense)                        │ (None, 160)                 │          17,440 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_1 (Dense)                      │ (None, 80)                  │          12,880 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_2 (Dense)                      │ (None, 40)                  │           3,240 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_3 (Dense)                      │ (None, 1)                   │              41 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 33,601 (131.25 KB)

 Trainable params: 33,601 (131.25 KB)

 Non-trainable params: 0 (0.00 B)

In [17]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [18]:
# Train the model
nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 2s 996us/step - accuracy: 0.7438 - loss: 0.5172
Epoch 2/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 888us/step - accuracy: 0.7662 - loss: 0.4750
Epoch 3/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 888us/step - accuracy: 0.7696 - loss: 0.4704
Epoch 4/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 913us/step - accuracy: 0.7709 - loss: 0.4679
Epoch 5/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 882us/step - accuracy: 0.7674 - loss: 0.4702
Epoch 6/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 878us/step - accuracy: 0.7740 - loss: 0.4655
Epoch 7/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 876us/step - accuracy: 0.7742 - loss: 0.4630
Epoch 8/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 874us/step - accuracy: 0.7638 - loss: 0.4737
Epoch 9/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 881us/step - accuracy: 0.7740 - loss: 0.4609
Epoch 10/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 871us/step - accuracy: 0.7744 - loss: 0.4630
Epoch 11/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 939us/step - accuracy: 0.7743 - loss: 0.4644
Epoch 12/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 871us/step - accuracy: 0.7735 - loss: 0.4632
Epoch 13/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 861us/step - accuracy: 0.7733 - loss: 0.4621
Epoch 14/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 867us/step - accuracy: 0.7733 - loss: 0.4614
Epoch 15/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 874us/step - accuracy: 0.7800 - loss: 0.4575
Epoch 16/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 861us/step - accuracy: 0.7786 - loss: 0.4595
Epoch 17/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 874us/step - accuracy: 0.7776 - loss: 0.4543
Epoch 18/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 863us/step - accuracy: 0.7770 - loss: 0.4580
Epoch 19/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 930us/step - accuracy: 0.7760 - loss: 0.4545
Epoch 20/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 864us/step - accuracy: 0.7769 - loss: 0.4561
Epoch 21/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 866us/step - accuracy: 0.7763 - loss: 0.4564
Epoch 22/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 872us/step - accuracy: 0.7739 - loss: 0.4611
Epoch 23/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 876us/step - accuracy: 0.7813 - loss: 0.4536
Epoch 24/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 928us/step - accuracy: 0.7825 - loss: 0.4507
Epoch 25/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 864us/step - accuracy: 0.7757 - loss: 0.4576
Epoch 26/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 869us/step - accuracy: 0.7733 - loss: 0.4585
Epoch 27/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 874us/step - accuracy: 0.7778 - loss: 0.4527
Epoch 28/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 883us/step - accuracy: 0.7780 - loss: 0.4527
Epoch 29/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 905us/step - accuracy: 0.7818 - loss: 0.4508
Epoch 30/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 867us/step - accuracy: 0.7766 - loss: 0.4505
Epoch 31/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 882us/step - accuracy: 0.7739 - loss: 0.4596
Epoch 32/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 881us/step - accuracy: 0.7780 - loss: 0.4527
Epoch 33/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 935us/step - accuracy: 0.7766 - loss: 0.4516
Epoch 34/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 861us/step - accuracy: 0.7767 - loss: 0.4524
Epoch 35/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 871us/step - accuracy: 0.7753 - loss: 0.4534
Epoch 36/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 944us/step - accuracy: 0.7785 - loss: 0.4518
Epoch 37/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 852us/step - accuracy: 0.7741 - loss: 0.4559
Epoch 38/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 882us/step - accuracy: 0.7805 - loss: 0.4464
Epoch 39/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 882us/step - accuracy: 0.7792 - loss: 0.4519
Epoch 40/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 917us/step - accuracy: 0.7785 - loss: 0.4512
Epoch 41/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 864us/step - accuracy: 0.7782 - loss: 0.4533
Epoch 42/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 874us/step - accuracy: 0.7825 - loss: 0.4451
Epoch 43/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 922us/step - accuracy: 0.7794 - loss: 0.4532
Epoch 44/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 866us/step - accuracy: 0.7799 - loss: 0.4494
Epoch 45/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 872us/step - accuracy: 0.7788 - loss: 0.4505
Epoch 46/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 935us/step - accuracy: 0.7786 - loss: 0.4517
Epoch 47/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 862us/step - accuracy: 0.7829 - loss: 0.4495
Epoch 48/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 859us/step - accuracy: 0.7798 - loss: 0.4521
Epoch 49/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 917us/step - accuracy: 0.7803 - loss: 0.4499
Epoch 50/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 877us/step - accuracy: 0.7765 - loss: 0.4494
Epoch 51/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 866us/step - accuracy: 0.7796 - loss: 0.4492
Epoch 52/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 927us/step - accuracy: 0.7769 - loss: 0.4542
Epoch 53/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 884us/step - accuracy: 0.7788 - loss: 0.4518
Epoch 54/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 886us/step - accuracy: 0.7804 - loss: 0.4494
Epoch 55/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 912us/step - accuracy: 0.7790 - loss: 0.4481
Epoch 56/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 862us/step - accuracy: 0.7774 - loss: 0.4503
Epoch 57/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 866us/step - accuracy: 0.7830 - loss: 0.4441
Epoch 58/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 912us/step - accuracy: 0.7782 - loss: 0.4496
Epoch 59/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 877us/step - accuracy: 0.7795 - loss: 0.4520
Epoch 60/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 864us/step - accuracy: 0.7802 - loss: 0.4494
Epoch 61/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 905us/step - accuracy: 0.7781 - loss: 0.4484
Epoch 62/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 866us/step - accuracy: 0.7772 - loss: 0.4497
Epoch 63/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 863us/step - accuracy: 0.7807 - loss: 0.4487
Epoch 64/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 883us/step - accuracy: 0.7802 - loss: 0.4471
Epoch 65/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 864us/step - accuracy: 0.7807 - loss: 0.4479
Epoch 66/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 900us/step - accuracy: 0.7814 - loss: 0.4446
Epoch 67/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 864us/step - accuracy: 0.7782 - loss: 0.4487
Epoch 68/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 859us/step - accuracy: 0.7781 - loss: 0.4489
Epoch 69/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 905us/step - accuracy: 0.7843 - loss: 0.4452
Epoch 70/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 863us/step - accuracy: 0.7808 - loss: 0.4460
Epoch 71/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 919us/step - accuracy: 0.7811 - loss: 0.4467
Epoch 72/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 862us/step - accuracy: 0.7828 - loss: 0.4510
Epoch 73/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 867us/step - accuracy: 0.7790 - loss: 0.4502
Epoch 74/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 941us/step - accuracy: 0.7778 - loss: 0.4507
Epoch 75/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 864us/step - accuracy: 0.7837 - loss: 0.4445
Epoch 76/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 902us/step - accuracy: 0.7875 - loss: 0.4393
Epoch 77/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 859us/step - accuracy: 0.7806 - loss: 0.4481
Epoch 78/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 917us/step - accuracy: 0.7765 - loss: 0.4474
Epoch 79/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 864us/step - accuracy: 0.7808 - loss: 0.4456
Epoch 80/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 868us/step - accuracy: 0.7787 - loss: 0.4513
Epoch 81/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 946us/step - accuracy: 0.7803 - loss: 0.4473
Epoch 82/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 875us/step - accuracy: 0.7780 - loss: 0.4496
Epoch 83/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 935us/step - accuracy: 0.7799 - loss: 0.4488
Epoch 84/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 873us/step - accuracy: 0.7824 - loss: 0.4477
Epoch 85/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 920us/step - accuracy: 0.7821 - loss: 0.4500
Epoch 86/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 859us/step - accuracy: 0.7808 - loss: 0.4482
Epoch 87/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 872us/step - accuracy: 0.7749 - loss: 0.4521
Epoch 88/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 886us/step - accuracy: 0.7799 - loss: 0.4443
Epoch 89/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 877us/step - accuracy: 0.7775 - loss: 0.4523
Epoch 90/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 914us/step - accuracy: 0.7804 - loss: 0.4470
Epoch 91/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 858us/step - accuracy: 0.7855 - loss: 0.4385
Epoch 92/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 912us/step - accuracy: 0.7794 - loss: 0.4486
Epoch 93/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 873us/step - accuracy: 0.7792 - loss: 0.4484
Epoch 94/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 914us/step - accuracy: 0.7749 - loss: 0.4514
Epoch 95/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 864us/step - accuracy: 0.7780 - loss: 0.4464
Epoch 96/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 859us/step - accuracy: 0.7760 - loss: 0.4549
Epoch 97/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 879us/step - accuracy: 0.7746 - loss: 0.4527
Epoch 98/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 858us/step - accuracy: 0.7797 - loss: 0.4476
Epoch 99/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 909us/step - accuracy: 0.7787 - loss: 0.4480
Epoch 100/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 864us/step - accuracy: 0.7814 - loss: 0.4475

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 1ms/step - accuracy: 0.7610 - loss: 0.5345
Loss: 0.5344895124435425, Accuracy: 0.7610495686531067

In [20]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization_Third_Attempt.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.